h1 {
    font-size: 60px;
}

h3 {
    font-size: 100px;
}

.familiaTexto {
    font-family: "papyrus";
    font-size: 2em;
    color: #333CFF;
    text-align: justify;
}

.fondoprincipal {
    background-color: chocolate;
}

.fondoindex {
    background-color: green;
}

.fondopagina1 {
    background-color: blue;
}

a {
    color: crimson;
}

.imagenfondo {
    background-image: url(img/medellin.jpg);
    height: 1000px;
    background-attachment: fixed;
}

.textorojo {
    color: red;
}